*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:black;
color:white;
height:100vh;
overflow:hidden;
}

/* Background Video */

#bgVideo{
position:fixed;
right:0;
bottom:0;
min-width:100%;
min-height:100%;
z-index:-2;
object-fit:cover;
}


.container{
text-align:center;
margin-top:80px;
}

.searchBox{
margin-top:20px;
}

input{
padding:12px;
width:250px;
border:none;
border-radius:5px;
}

button{
padding:12px 20px;
border:none;
background:#00c3ff;
color:white;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:#0099cc;
}

#weatherBox{
margin-top:40px;
font-size:22px;
}

#forecast{
margin-top:40px;
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.card{
background:rgba(255,255,255,0.2);
padding:15px;
border-radius:10px;
width:120px;
}
.forecastTitle{
margin-top:40px;
font-size:26px;
font-weight:bold;
}